/*

@media screen and (max-width: 1200px) {

    .menu__link{
        font-size: 16px;
    }

    .menu__logo{
        width: 80px;
    }
}

@media screen and (max-width: 768px) {

    .hamburger{
        display: flex;
    }

    #hamburger{
        bottom: 28px;
        right: 83px;
        width: 30%;
        height: 43px;
        opacity: 0;
    }

    #hamburger:checked ~ .menu {
        display: block;
    }

    #hamburger:not(:checked) ~ .menu {
        display: none;
    }

    .menu{
        display: none;
    }

    .menu__logo{
        width: 70px;
    }
}

@media screen and (max-width: 576px) {

    .hamburger{
        display: flex;
    }

    #hamburger{
        bottom: 27px;
        right: 31px;
        width: 30%;
        height: 43px;
        opacity: 0;
    }

    #hamburger:checked ~ .menu {
        display: block;
    }

    #hamburger:not(:checked) ~ .menu {
        display: none;
    }

    .menu{
        display: none;
    }
}
*/