<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locales - FOGO</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/hamburguers.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="body__locales__grid">
    <header>
        <img class="menu__logo" src="../img/logo.png" alt="logo fogo">
        <nav>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./menu.html">Menú</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./reservas.html">Reservas</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./locales.html">Locales</a>
                </li>
            </ul>
        </nav>
        <button class="hamburger hamburger--spring" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
        <input type="checkbox" name="hamburger" id="hamburger">
    </header>
    <section id="locales">
    <p class="locales__text">AV. PRESIDENTE FIGUEROA ALCORTA 3351</p>
        <div class="locales">
            <div class="locales__box__img">
                <img class="locales__img" src="../img/local 4.jpg" alt="local 2">
            </div>
            <div class="locales__box__mapa">
                <iframe class="locales__mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.0466566236096!2d-58.40512338477092!3d-34.5776859804663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb504c3f43dc9%3A0xacedc280d9d372e4!2sAv.%20Pres.%20Figueroa%20Alcorta%203351%2C%20C1425%20CABA!5e0!3m2!1ses!2sar!4v1653601765535!5m2!1ses!2sar""></iframe>
            </div>
        </div>
    </section>
    <section id="locales2">
    <p class="locales__text">AV. DEL LIBERTADOR 1031</p>
        <div class="locales">
            <div class="locales__box__mapa">
                <iframe class="locales__mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.1569443732265!2d-58.470537799999995!3d-34.5242515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6acc4626ccb%3A0x21e65eb74dc2b24b!2sAv.%20del%20Libertador%201031%2C%20B1638BEJ%20Vicente%20L%C3%B3pez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653602872466!5m2!1ses!2sar"></iframe>
            </div>
            <div class="locales__box__img">
                <img class="locales__img" src="../img/local 2.jpg" alt="local 2">
            </div>
        </div>
    </section>
    <footer>
        <ul class="footer">
            <li class="footer__title">FOGO
                <p class="footer__text">Av. Pres. F. Alcorta 3351</p>
                <p class="footer__text">Av. del Libertador 1031</p>
            </li>
            <li class="footer__title">CONTACTO
                <p class="footer__text">(+54) 011 4631-4984</p>
                <p class="footer__text">(+54) 011 4634-5431</p>
            </li>
            <li class="footer__title">REDES SOCIALES
                <p class="footer__text">@fogo.ba</p>
            </li>
        </ul>
    </footer>
</body>
</html>