<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <img class="menu_logo" src="../img/logo.png" alt="logo fogo" width="20%">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./menu.html">Menú</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./reservas.html">Reservas</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./locales.html">Locales</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="entradas">
        <h3 class="entradas__title">ENTRADAS</h3>
        <div class="entradas">
            <div class="entradas__box">
                <img class="entradas__img" src="../img/provoleta.jpg" alt="Provoleta">
                <p>Provoleta</p>
            </div>
            <div class="entradas__box">
                <img class="entradas__img" src="../img/achuras.jpg" alt="Achuras">
                <p>Bandeja de achuras</p>
            </div>
            <div class="entradas__box">
                <img class="entradas__img" src="../img/mollejas.jpg" alt="Mollejas">
                <p>Mollejas</p>
            </div>
            <div class="entradas__box">
                <img class="entradas__img" src="../img/empanadas de carne.jpg" alt="Empanadas">
                <p>Empanadas de carne</p>
            </div>
        </div>
    </section>
    <section id="principales">
        <h3 class="principales__title">PLATOS PRINCIPALES</h3>
        <div class="principales">
            <div class="principales__box">
                <img class="principales__img" src="../img/ribs.jpg" alt="Ribs">
                <p>Ribs</p>
            </div>
            <div class="principales__box">
                <img class="principales__img" src="../img/tomahawk.jpg" alt="Tomahawk">
                <p>Tomahawk</p>
            </div>
            <div class="principales__box">
                <img class="principales__img" src="../img/entraña.jpg" alt="Entraña">
                <p>Entraña</p>
            </div>
            <div class="principales__box">
                <img class="principales__img" src="../img/ojo de bife.jpg" alt="Ojo de bife">
                <p>Ojo de bife</p>
            </div>
        </div>
        <div class="principales">
            <div class="principales__box2">
                <img class="principales__img" src="../img/brisket.jpg" alt="Brisket">
                <p>Brisket</p>
            </div>
            <div class="principales__box2">
                <img class="principales__img" src="../img/lomo a la pimienta.png" alt="Lomo">
                <p>Lomo a la pimienta</p>
            </div>
            <div class="principales__box2">
                <img class="principales__img" src="../img/vacio.jpg" alt="Vacío">
                <p>Vacío</p>
            </div>
            <div class="principales__box2">
                <img class="principales__img" src="../img/bife de chorizo.jpg" alt="Bife de chorizo">
                <p>Bife de chorizo</p>
            </div>
        </div>
    </section>
    <section id="postre">
        <h3 class="postre__title">POSTRE</h3>
        <div class="postre">
            <div class="postre__box">
                <img class="postre__img" src="../img/flan.jpg" alt="Flan">
                <p>Flan</p>
            </div>
            <div class="postre__box">
                <img class="postre__img" src="../img/creme brulee.jpg" alt="Creme Brulée">
                <p>Creme Brulee</p>
            </div>
            <div class="postre__box">
                <img class="postre__img" src="../img/panqueque con ddl.jpg" alt="Panqueque">
                <p>Panqueque</p>
            </div>
            <div class="postre__box">
                <img class="postre__img" src="../img/rogel.jpg" alt="Rogel">
                <p>Rogel</p>
            </div>
        </div>
    </section>
    <footer>
        <ul class="footer">
            <li class="footer__title">FOGO
                <p class="footer__text">Av. Pres. F. Alcorta 3351</p>
                <p class="footer__text">Av. del Libertador 1031</p>
            </li>
            <li class="footer__title">CONTACTO
                <p class="footer__text">(+54) 011 4631-4984</p>
                <p class="footer__text">(+54) 011 4634-5431</p>
            </li>
            <li class="footer__title">REDES SOCIALES
                <p class="footer__text">@fogo.ba</p>
            </li>
        </ul>
    </footer>
</body>
</html>