<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conoce más sobre nuestro amplio Menú: Entradas, platos y postres">
    <meta name="keywords" content="Entradas, Platos, Platos Principales, Postre, Restaurante, Restaurant, Parrilla, Carne, Vino, Brasas, Carbón, Provoleta, Achuras, Tomahawk, Ribs, Mollejas, Empanadas, Entraña, Ojo de Bife, Lomo, Vacío, Bife de Chorizo, Flan, Creme Brulée, Panqueque, Rogel">
    <title>Menú - FOGO</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/hamburguers.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
        <img class="menu__logo" src="../img/logo.png" alt="logo fogo">
        <nav>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./menu.html">Menú</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./reservas.html">Reservas</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./locales.html">Locales</a>
                </li>
            </ul>
        </nav>
        <button class="hamburger hamburger--spring" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
        <input type="checkbox" name="hamburger" id="hamburger">
    </header>
    <main class="container w-100">
        <section id="entradas">
            <h3 class="entradas__title">ENTRADAS</h3>
            <div class="entradas">
                <div class="entradas__box">
                    <img class="entradas__img" src="../img/provoleta.jpg" alt="Provoleta">
                    <p class="entradas__text">Provoleta</p>
                </div>
                <div class="entradas__box">
                    <img class="entradas__img" src="../img/achuras.jpg" alt="Achuras">
                    <p class="entradas__text">Bandeja de achuras</p>
                </div>
                <div class="entradas__box">
                    <img class="entradas__img" src="../img/mollejas.jpg" alt="Mollejas">
                    <p class="entradas__text">Mollejas</p>
                </div>
                <div class="entradas__box">
                    <img class="entradas__img" src="../img/empanadas de carne.jpg" alt="Empanadas">
                    <p class="entradas__text">Empanadas de carne</p>
                </div>
            </div>
        </section>
        <section id="principales">
            <h3 class="principales__title">PLATOS PRINCIPALES</h3>
            <div class="principales">
                <div class="principales__box">
                    <img class="principales__img" src="../img/ribs.jpg" alt="Ribs">
                    <p class="principales__text">Ribs</p>
                </div>
                <div class="principales__box">
                    <img class="principales__img" src="../img/tomahawk.jpg" alt="Tomahawk">
                    <p class="principales__text">Tomahawk</p>
                </div>
                <div class="principales__box">
                    <img class="principales__img" src="../img/entraña.jpg" alt="Entraña">
                    <p class="principales__text">Entraña</p>
                </div>
                <div class="principales__box">
                    <img class="principales__img" src="../img/ojo de bife.jpg" alt="Ojo de bife">
                    <p class="principales__text">Ojo de bife</p>
                </div>
            </div>
            <div class="principales">
                <div class="principales__box2">
                    <img class="principales__img" src="../img/brisket.jpg" alt="Brisket">
                    <p class="principales__text">Brisket</p>
                </div>
                <div class="principales__box2">
                    <img class="principales__img" src="../img/lomo a la pimienta.png" alt="Lomo">
                    <p class="principales__text">Lomo a la pimienta</p>
                </div>
                <div class="principales__box2 col-3">
                    <img class="principales__img" src="../img/vacio.jpg" alt="Vacío">
                    <p class="principales__text">Vacío</p>
                </div>
                <div class="principales__box2">
                    <img class="principales__img" src="../img/bife de chorizo.jpg" alt="Bife de chorizo">
                    <p class="principales__text">Bife de chorizo</p>
                </div>
            </div>
        </section>
        <section id="postre">
            <h3 class="postre__title">POSTRE</h3>
            <div class="postre row">
                <div class="postre__box">
                    <img class="postre__img" src="../img/flan.jpg" alt="Flan">
                    <p class="postre__text">Flan</p>
                </div>
                <div class="postre__box">
                    <img class="postre__img" src="../img/creme brulee.jpg" alt="Creme Brulée">
                    <p class="postre__text">Crème Brûlée</p>
                </div>
                <div class="postre__box">
                    <img class="postre__img" src="../img/panqueque con ddl.jpg" alt="Panqueque">
                    <p class="postre__text">Panqueque</p>
                </div>
                <div class="postre__box">
                    <img class="postre__img" src="../img/rogel.jpg" alt="Rogel">
                    <p class="postre__text">Rogel</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <ul class="footer">
            <li class="footer__title">FOGO
                <p class="footer__text">Av. Pres. F. Alcorta 3351</p>
                <p class="footer__text">Av. del Libertador 1031</p>
            </li>
            <li class="footer__title">CONTACTO
                <p class="footer__text">(+54) 011 4631-4984</p>
                <p class="footer__text">(+54) 011 4634-5431</p>
            </li>
            <li class="footer__title">REDES SOCIALES
                <p class="footer__text">@fogo.ba</p>
            </li>
        </ul>
    </footer>
</body>
</html>