<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - FOGO</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <img class="menu_logo" src="../img/logo.png" alt="logo fogo" width="20%">
            </picture>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./menu.html">Menú</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./reservas.html">Reservas</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./locales.html">Locales</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="nosotros">
        <div class="nosotros__box">
            <img class="nosotros__img" src="../img/nosotros" alt="">
        </div>
    </section>
    <section id="descripcion">
        <div class="description__box">
            <h4>¿QUIÉNES SOMOS?</h4>
            <p>FOGO fue fandada en el año 1942 por Facundo González, con la intención de ofrecer la mejor calidad de la carne Argentina, tanto para los locales como para los extranjeros. Comenzó en un local pequeño en una esquina de Palermo, mientras fue creciendo por la recomendación de los frecuentes clientes del barrio, vecinos de Facundo. Luego, tras el gran reconocimiento que la parrilla fue obteniendo, al día de hoy cuenta con dos reconocidos locales en la ciudad porteña, y es manejado por los hijos y nietos de Facundo.</p>
        </div>
        <div class="description__box">
            <h4>OBJETIVO</h4>
            <p>Nuestro principal ojetivo es que el sueño de Facundo continue haciéndose realidad, siendo FOGO un punto de encuentro tanto para grupos de familia y amigos argentinos, como también para turistas, donde puedan disfrutar la mejor calidad que ofrece nuestro suelo.</p>
        </div>
    </section>
    <footer>
        <ul class="footer">
            <li class="footer__title">FOGO
                <p class="footer__text">Av. Pres. F. Alcorta 3351</p>
                <p class="footer__text">Av. del Libertador 1031</p>
            </li>
            <li class="footer__title">CONTACTO
                <p class="footer__text">(+54) 011 4631-4984</p>
                <p class="footer__text">(+54) 011 4634-5431</p>
            </li>
            <li class="footer__title">REDES SOCIALES
                <p class="footer__text">@fogo.ba</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>