<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reserva tu mesa para comer en FOGO.">
    <meta name="keywords" content="Fogo, Parrilla, Restaurante, Carne, Asado, Vino, Fuego, Brasas, Carbón, Palermo Chico, Libertador, Vicente López, Comida, Entradas, Platos, Platos principales, Postre, Reserva, Formulario">
    <title>Reserva - FOGO</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/hamburguers.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #171A21">
            <div class="container-fluid">
                <img class="menu__logo navbar-brand" src="../img/logo.png" alt="logo fogo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link" href="../index.html">Home</a>
                      <a class="nav-link" href="./menu.html">Menú</a>
                      <a class="nav-link" href="./nosotros.html">Nosotros</a>
                      <a class="nav-link active" href="./reservas.html">Reservas</a>
                      <a class="nav-link" href="./locales.html">Locales</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section id="reserva">
        <form class="reserva__form container w-60">
            <div class="mb-3 w-60">
                <label for="name" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Juan Doe">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@ejemplo.com">
            </div>
            <div class="mb-3">
                <label for="celular" class="form-label">Celular</label>
                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="11 1111-1111">
            </div>
            <div class="mb-3">
                <label for="Local">Local</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Locales</option>
                    <option value="1">Av. Presidente Figueroa Alcorta 3351</option>
                    <option value="2">Av. Del Libertador 1031</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cantidad de personas</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Cantidad de personas">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Día de reserva</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/aaaa">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Hora</label>
                <input type="time" class="form-control" id="exampleFormControlInput1" placeholder="Hora">
            </div>
            <button type="sumbit" class="btn btn-dark">ENVIAR</button>
        </form>
    </section>
    <footer>
        <ul class="footer">
            <li class="footer__title">FOGO
                <p class="footer__text">Av. Pres. F. Alcorta 3351</p>
                <p class="footer__text">Av. del Libertador 1031</p>
            </li>
            <li class="footer__title">CONTACTO
                <p class="footer__text">(+54) 011 4631-4984</p>
                <p class="footer__text">(+54) 011 4634-5431</p>
            </li>
            <li class="footer__title">REDES SOCIALES
                <p class="footer__text">@fogo.ba</p>
            </li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>