footer{
    background-color: #171A21;
    color: white;
    padding: 2rem;
}

.footer{
    @include flex (row wrap, space-around, flex-start, 0);

        .footer__title{
        list-style-type: none;
        text-align: center;
        }

        .footer__text{
        font-size: 16px;
        }
}

@media screen and (max-width: 576px) {

    .footer{
        @include flex (column nowrap, center, center);
    }

    .footer__title{
        padding: 0.5rem;
    }
}